.DS_Store
cli/build
cli/cli
cli/migrate
.coverage
.godoc.pid
vendor/
.vscode/
.idea/
.playground
*.out
*.test
*.telemetry
*.idea
*.bin
tmp
dist
*.crt
*.key
.venv
venv
*.db
*.png
*.csv
*.txt
*.prof
certs
!doc/*.svg
!docs/*.png
*.log*

