name: golang test and lint.

permissions: read-all

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  ubuntu-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '^1.24.0' # The Go version to download (if necessary) and use.
      - run: go version
        # Step 6: Install golangci-lint
      - name: Install golangci-lint
        run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest

        # Step 7: Run golangci-lint to lint Go code
      - name: Run golangci-lint
        run: golangci-lint run ./...

      - name: Run Go Vet
        run: |
            go vet ./...

      - name: Run Go Fmt
        run: |
          files=$(go fmt ./...)
          if [ -n "$files" ]; then
            echo "Please run gofmt on these files ..."
            echo "$files"
            exit 1
          fi

      - name: Run go test
        run: go test  -count 1 -v -race -covermode atomic $(go list ./... | grep -v  proto)
